.card{
  margin:5%;
}

.tile{
  background-color: #0C2D48;
  padding-bottom:2%
}
.submit{
  margin:1.5%
}

.row{
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%
}

.viewalljob{
  padding-right:5%;
  padding-left:5%;
  margin: 1%;
  width:95%
}

.navbar{

}

.myChart{
  width: 50%
}

.myChart_2{
  width: 50%
}
